<settings>
    <servers>
        <server>
            <id>gitlab-maven</id>
            <configuration>
                <httpHeaders>
                    <property>
                        <name>Private-Token</name>
                        <value>YOUR-TOKEN-GOES-HERE</value>
                    </property>
                </httpHeaders>
            </configuration>
        </server>
    </servers>
    <proxies>
        <proxy>
            <active>true</active>
            <protocol>http</protocol>
            <host>fire.lvnbb.de</host>
            <port>80</port>
        </proxy>
    </proxies>
</settings>
